{% extends 'base.html' %}

{% block title %}Fire Management System{% endblock %}

{% block content %}
<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Dashboard</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Welcome to Fire Management System</h4>
                </div>
                <div class="card-body">
                    <p>Select an option from the sidebar to get started.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
